
# log files
**/lightning_logs/

# Personal 
.env

# pixi environments
.pixi
*.egg-info


# Added by cargo

/target

# R files
.RData
.RHistory

# backup pyprojects file
pyproject.toml
pyproject_bp.toml
