
# log files
**/lightning_logs/

# Personal 
.env

# pixi environments
.pixi
*.egg-info

# pyhton files
**/__pycache__
.pytest_cache

# Added by cargo
/target

# R files
.RData
.Rhistory

# backup pyprojects file
pyproject.toml
pyproject_bp.toml


